@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: block;
  max-width: 200px;
  margin: 0 auto 20px;
}

.search-container {
  text-align: center;
  padding: 20px;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #696969;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.3s;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #ddd;
}

.material-icons {
  font-size: 20px;
}

.result-card {
  width: 80%;
  max-width: 1200px;
  height: auto;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: auto;

  .title {
    font-size: 22px;
    word-wrap: break-word;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
  }

  .author,
  .source,
  .pubdate,
  .volume {
    word-wrap: break-word;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
  }

  .title {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }
}

.logout-button {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 15px;
  right: 15px;
  /* Add any styling you want here */
}

button.search-button i.material-icons {
  vertical-align: middle;
  margin: 0 auto;
  line-height: normal; /* Adjust as needed */
}

button.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}
